extends layout

block content
  .col-md-2(role="nav")
    .affix.col-md-2
      .col-md-12
        img.img-circle.col-md-11(src="/images/hobbypunk.jpg", style="padding:5px;border: 1px solid #ddd;margin-bottom:20px;margin-left: 8px;")
      ul.nav.nav-pills.nav-stacked  
        li(class= (host == "github" ? "active" : ""))
          a(href="/projects/github") GitHub
            if(host == "github")
              span.badge=repos.length
        li(class= (host == "bitbucket" ? "active" : ""))
          a(href="/projects/bitbucket") Bitbucket
            if(host == "bitbucket")
              span.badge=repos.length
  .col-md-1
  .col-md-9(role="main")
    .page-header
      h1= title
    .row
      each repo in repos
        .col-md-5.col-md-offset-1.well.well-sm
          center
            h3
              a(href=repo["url"])= repo["name"]
          span.label.label-success= repo["lang"]
        br

